alembic
auth-lib-profcomff[fastapi]
aiohttp
fastapi
fastapi-sqlalchemy
fastapi-filter[sqlalchemy]
gunicorn
logging-profcomff
psycopg2-binary
pydantic
pydantic-settings
SQLAlchemy
uvicorn
logger_middleware

